.footer-background {
    color: azure;
    margin: 50px auto 0px auto;
    background-color: #164b4b;
    padding-bottom: 20px;
    padding-top: 50px;
    opacity:60%;
}
ul{
    overflow: hidden;
}
li{
    list-style: none;
    display: block;
}
svg{
    padding: 1%;
}
.copyright{
    text-align: center;
}
.follow{
    text-align: center;
}