.my-form {
  width: 70%;
  margin: 0;
  box-shadow: rgba(100, 100, 111, 0.9) 0px 7px 29px 0px;
}
h3 {
  padding-top: 20px;
  margin-left: 40px;
  padding-bottom: 20px;
  text-align: left;
  width: 100%;
  color: #2f4f4f;
  font-weight: 600;
}
.my-form label {
  font-weight: 500;
  color: #2f4f4f;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 40px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.my-form input {
  margin-left: 40px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 60%;
  padding: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.my-form select {
  margin-left: 40px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 60%;
  padding: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.button {
  margin-left: 40px;
  width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
}
